In [1]:
# necessery libraries
import pandas as pd
import sys
sys.path.insert(0,'../src/utils/')
import general_look_at_data as  GLAD
import cleaning_data as  CLD

In [2]:
# data source must be updated to featsel folder rather than raw
data = pd.read_csv('../data/featsel/Citywide_Survey_featsel.csv')

# Handle Missing data

In [3]:
# Display missing percentages
feature_missing_stats = GLAD.get_feature_missing(data)
feature_missing_stats

,missing_count,missing_percentage,dont_know_percentage,no_response_percentage,technological_error_percentage,prefer_not_to_answer_percentage,not_required_percentage,feature_type
feature,,,,,,,,
school_park_amount_week,3342,0.998805,0.0,0.0,0.0,0.000000,0.000000,float64
work_park_amount_year,3342,0.998805,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_day,3340,0.998207,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_month,3339,0.997908,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_year,3339,0.997908,0.0,0.0,0.0,0.000000,0.000000,float64
...,...,...,...,...,...,...,...,...
school_bike_park,0,0.000000,0.0,0.0,0.0,0.000000,0.997908,int64
school_mode_bike,0,0.000000,0.0,0.0,0.0,0.000000,0.997908,int64
school_mode_taxi,0,0.000000,0.0,0.0,0.0,0.000000,0.998207,int64
school_egress,0,0.000000,0.0,0.0,0.0,0.000000,1.000000,int64
disability_none,0,0.000000,0.0,0.0,0.0,0.060072,0.000000,int64

## Handle Direct Missing Data

In [4]:
# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

# Display result
direct_missing

                          missing_count  missing_percentage
feature
school_park_amount_week            3342            0.998805
work_park_amount_year              3342            0.998805
school_park_amount_day             3340            0.998207
school_park_amount_month           3339            0.997908
school_park_amount_year            3339            0.997908
work_park_amount_week              3334            0.996414
work_park_amount_month             3324            0.993425
work_park_amount_day               3322            0.992827
school_cms_zone                    3224            0.963539
work_cms_zone                      1659            0.495816

In [5]:
# Get the list of columns with more than 75% direct missing values
features_gt75_missing = CLD.filter_direct_missing_columns(direct_missing, None, 0.75)

# Display the feature list
features_gt75_missing

['school_park_amount_week',
 'work_park_amount_year',
 'school_park_amount_day',
 'school_park_amount_month',
 'school_park_amount_year',
 'work_park_amount_week',
 'work_park_amount_month',
 'work_park_amount_day',
 'school_cms_zone']

In [6]:
# Delete all features that has more than 75% of direct missing data
CLD.delete_columns(data, features_gt75_missing)

Current number of columns:  156
Updated number of columns:  147

In [7]:
# Update direct missing data percentages
feature_missing_stats = GLAD.get_feature_missing(data)

# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

In [8]:
# Get the list of columns with less than 75% direct missing values
features_st75_missing = CLD.filter_direct_missing_columns(direct_missing, None, 0)

# Display the feature list
features_st75_missing

['work_cms_zone']

In [9]:
# Fill in the columns with the column's mod value if the proportion of missing data is less than 75%
CLD.fill_by_mode(data, features_st75_missing)

'Provided column successfully filled by mode value.'

In [10]:
# Update direct missing data percentages
feature_missing_stats = GLAD.get_feature_missing(data)

# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

direct_missing

'No Missing Data: NAN type'

In [11]:
# Display final shape from this processing
data.shape

(3346, 147)

# Handle Indirect Missing Data

In [12]:
# Display the direct missing value for each column with a percentage nonzero.
indirect_missing = GLAD.display_indirect_missing(feature_missing_stats)

# Display result
indirect_missing

,dont_know_percentage,no_response_percentage,technological_error_percentage,prefer_not_to_answer_percentage,not_required_percentage,feature_type
feature,,,,,,
license,0.0,0.041243,0.0,0.000000,0.000000,int64
tnc_purpose,0.0,0.000000,0.0,0.000000,0.409444,int64
car_share_none,0.0,0.027197,0.0,0.000000,0.000000,int64
car_share_other,0.0,0.027197,0.0,0.000000,0.000000,int64
car_share_enterprise,0.0,0.027197,0.0,0.000000,0.000000,int64
...,...,...,...,...,...,...
school_bike_park,0.0,0.000000,0.0,0.000000,0.997908,int64
school_mode_bike,0.0,0.000000,0.0,0.000000,0.997908,int64
school_mode_taxi,0.0,0.000000,0.0,0.000000,0.998207,int64
school_egress,0.0,0.000000,0.0,0.000000,1.000000,int64
disability_none,0.0,0.000000,0.0,0.060072,0.000000,int64

In [13]:
# Get the list of columns with more than 60% indirect missing values
features_gt60_missing = CLD.filter_indirect_missing_columns(indirect_missing, indirect_missing.columns, None, 0.6)

# Display the feature list
features_gt60_missing

['tnc_mode_scooter',
 'tnc_mode_bike',
 'tnc_mode_ferry',
 'tnc_mode_rail',
 'tnc_mode_bus',
 'tnc_mode_taxi',
 'tnc_mode_auto',
 'packages_distance',
 'lime_freq',
 'harassment_none',
 'harassment_other',
 'harassment_defense',
 'harassment_attention',
 'harassment_alone',
 'harassment_private_car',
 'harassment_neighborhood',
 'harassment_mode',
 'harassment_transit',
 'harassment_route',
 'harassment_time',
 'harassment_trip',
 'jump_freq',
 'work_mode_rail',
 'school_mode_auto',
 'school_vehicle_pass_period',
 'school_park_location',
 'school_mode_own',
 'school_mode',
 'kid_accompany',
 'school_type',
 'work_scooter_park',
 'work_mode_scooter',
 'work_bike_park',
 'work_mode_bike',
 'work_mode_taxi',
 'work_mode_ferry',
 'work_mode_bus',
 'school_mode_rail',
 'work_mode_auto',
 'work_vehicle_pass_period',
 'work_park_pay',
 'work_park_location',
 'work_mode_own',
 'school_mode_bus',
 'school_mode_ferry',
 'citi_bike_freq',
 'bike_purpose_other',
 'bike_purpose_appointment',
 'school_access',
 'bike_purpose_commute',
 'bike_purpose_recreation',
 'bike_purpose_transit',
 'bike_purpose_errands',
 'bike_num_days',
 'school_scooter_park',
 'school_mode_scooter',
 'school_bike_park',
 'school_mode_bike',
 'school_mode_taxi',
 'school_egress']

In [14]:
# Delete all features that has more than 60% of indirect missing data
CLD.delete_columns(data, features_gt60_missing)

Current number of columns:  147
Updated number of columns:  87

In [15]:
# Update indirect missing data percentages
feature_missing_stats = GLAD.get_feature_missing(data)

# Display the indirect missing value for each column with a percentage nonzero.
indirect_missing = GLAD.display_indirect_missing(feature_missing_stats)

In [16]:
# Get the list of columns with less than 60% indirect missing values
features_st60_missing = CLD.filter_indirect_missing_columns(indirect_missing, indirect_missing.columns ,None, 0)

# Display the feature list
features_st60_missing

['license',
 'gender',
 'tnc_use_juno',
 'tnc_use_none',
 'tnc_user',
 'tnc_freq',
 'tnc_purpose',
 'tnc_mode',
 'car_share_zipcar',
 'car_share_car2go',
 'car_share_enterprise',
 'car_share_other',
 'car_share_none',
 'car_share_user',
 'packages',
 'harassment',
 'education',
 'tnc_use_lyft',
 'english_proficiency',
 'ethnicity',
 'race_american_indian',
 'race_asian',
 'race_black',
 'race_native_hawaiian',
 'race_white',
 'race_other',
 'disability_hearing',
 'disability_seeing',
 'disability_walking',
 'disability_mobility',
 'disability_dressing',
 'disability_concentrating',
 'tnc_use_via',
 'tnc_use_uber',
 'vehicle',
 'no_bike_nyc_showers',
 'congestion',
 'drive_cbd_freq',
 'planning_apps',
 'job_type',
 'jobs_count',
 'industry',
 'telework_freq',
 'work_mode',
 'bike_freq',
 'bike_stolen',
 'no_bike_nyc_bike_lanes',
 'no_bike_nyc_paving',
 'no_bike_nyc_storage',
 'no_bike_nyc_long_trips',
 'no_bike_nyc_modes',
 'no_bike_share_other',
 'no_bike_nyc_unable',
 'no_bike_nyc_other',
 'bike_share_citi_bike',
 'bike_share_jump',
 'bike_share_lime',
 'bike_share_none',
 'bike_share_user',
 'no_bike_share_unfamiliar',
 'no_bike_share_expensive',
 'no_bike_share_neighborhood',
 'no_bike_share_stations',
 'no_bike_share_personal_bike',
 'no_bike_share_docks',
 'no_bike_share_uncomfortable',
 'disability_none']