In [1]:
# Necessery libraries
import pandas as pd

In [38]:
# Reading data as dataframe
data = pd.read_csv('../data/raw/Citywide_Survey.csv')

In [6]:
# Display some of data
data.head(10)

,hh_id,weight,cms_zone,survey_mode,person_id,person_num,is_participant,num_days,num_days_complete,num_trips,...,race_native_hawaiian,race_white,race_other,disability_hearing,disability_seeing,disability_walking,disability_mobility,disability_dressing,disability_concentrating,disability_none
0,191546322,0.00000,Inner Brooklyn,1,19154632203,3,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
1,191546322,0.00000,Inner Brooklyn,1,19154632202,2,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
2,191546322,212.12729,Inner Brooklyn,1,19154632201,1,1,7.0,7.0,23.0,...,1,0,0,0,0,0,0,0,0,1
3,19241657,0.00000,Middle Queens,1,1924165703,3,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
4,19241657,0.00000,Middle Queens,1,1924165702,2,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
5,19241657,1262.69496,Middle Queens,1,1924165701,1,1,7.0,7.0,15.0,...,0,0,0,0,0,0,0,0,0,1
6,19933569,92.92534,Middle Queens,1,1993356901,1,1,7.0,7.0,30.0,...,0,1,0,0,0,0,0,0,0,1
7,19817299,0.00000,Middle Queens,1,1981729904,4,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
8,19817299,0.00000,Middle Queens,1,1981729903,3,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995
9,19817299,0.00000,Middle Queens,1,1981729902,2,0,NaN,NaN,NaN,...,995,995,995,995,995,995,995,995,995,995

In [36]:
# Display the shape of the data
data.shape

(8286, 165)

# Update Row's Shape

In [42]:
# Keep track of everyone who took part in the survey
data.drop(data[data.is_participant == 0].index, inplace=True)

# Re-index the data after deleting some rows
data.reset_index(drop=True, inplace=True)

In [43]:
# Display some of data after updated
data.head(10)

,hh_id,weight,cms_zone,survey_mode,person_id,person_num,is_participant,num_days,num_days_complete,num_trips,...,race_native_hawaiian,race_white,race_other,disability_hearing,disability_seeing,disability_walking,disability_mobility,disability_dressing,disability_concentrating,disability_none
0,191546322,212.12729,Inner Brooklyn,1,19154632201,1,1,7.0,7.0,23.0,...,1,0,0,0,0,0,0,0,0,1
1,19241657,1262.69496,Middle Queens,1,1924165701,1,1,7.0,7.0,15.0,...,0,0,0,0,0,0,0,0,0,1
2,19933569,92.92534,Middle Queens,1,1993356901,1,1,7.0,7.0,30.0,...,0,1,0,0,0,0,0,0,0,1
3,19817299,93.97294,Middle Queens,1,1981729901,1,1,7.0,4.0,48.0,...,0,0,0,0,0,0,0,0,0,1
4,19192971,109.28463,Middle Queens,1,1919297101,1,1,7.0,7.0,45.0,...,0,1,0,0,0,0,0,0,0,1
5,19177357,210.26906,Outer Queens,1,1917735701,1,1,7.0,5.0,16.0,...,0,1,0,0,0,0,0,0,0,1
6,19932218,571.66052,Manhattan Core,1,1993221801,1,1,7.0,6.0,27.0,...,0,1,0,0,0,0,0,0,0,1
7,19873448,236.40713,Northern Bronx,1,1987344801,1,1,7.0,6.0,18.0,...,0,1,0,0,0,0,0,0,0,1
8,19782802,1339.26190,Northern Bronx,1,1978280201,1,1,7.0,5.0,22.0,...,0,0,0,0,0,0,0,0,0,1
9,19613969,98.58006,Northern Bronx,1,1961396901,1,1,7.0,5.0,56.0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
# Display the shape of the data after updated
data.shape

(3346, 165)